table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: x-large;
}
tr:hover{
    background-color: rgb(216, 194, 165);
}
tr:nth-child(odd){
    background-color: rgb(59, 166, 182);
}
th{
    background-color: rgb(78, 78, 164);
}