div
  {
      column-count: 3;
      column-rule: 2px solid blue;
      column-gap: 20px;
      text-align: justify;
      background-color:antiquewhite;
  }
  
  h1
  {
      column-span: all;
      background-color: aqua;
      text-align: center;
  }
  
  #img1
  {
      float:left;
      margin:5px;
  }
  
  #img2
  {
      float:right;
      margin:10px;
  } 