.container{
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 200px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 40px;
}
.head{
    display: flex;
    gap: 350px;
    margin-left: 20px;
}
h1{
    color: red;
}
.container p{
    text-decoration: underline;
    font-size: 20px;
    align-self:flex-start;
    border: 2px solid;
    grid-column: 2/4;

}
.navbar{
    display: flex;
    align-items: center;
    height: 80px;
}
.navbar li{
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: black;
}
.navbar li a:hover{
    background-color: burlywood;
}