nav{
    width: 100vw;
    height: 5vh;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

a{
    text-decoration: none;
    color: black;
}
.active{
    border-bottom: 2px solid black;
}
.parent{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    flex-grow: 2;
    flex-shrink: 2;

    flex-wrap: wrap;
}
.first,.second,.third,.fourth,.fifth,.sixth {
    height: 17em;
    width: 30%;
    background-color: #fbfbfbe8;
    border-radius: 5px;
}
.parent a{
    text-align: left;
    color: rgb(37, 119, 174);
    margin-bottom: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.image{
    height: 125px;
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}