.container{
    display: flex;
    flex-wrap: wrap;
}
.container >div{
    background-color: #ddd;
    height: 200px;
    width: 200px;

}
.container>div:nth-child(odd){
    background-color: burlywood;
}
@media screen and (max-width:500px) {
    .container{
        flex-direction: column;
    }
    .container>div{
        width: 96vw;
    }
}

/* @media screen and (max-width:600px) and (max-width:800px){
    body{
        color: red;
    }
} */